<! DOCTYPE html>
<html dir="rtl">
<head>
    <titlet>بازیابی گذرواژه</titlet>
</head>
<body>
    <div style="text-align: center">
        <h1>ارسال لینک بازیابی گذرواژه</h1>
        <p class="py-4">دستورالعمل تنظیم گذرواژه را برایتان ایمیل کردیم اگر با ایمیلی که وارد کردید اکانتی وجود داشته باشد بزودی این ایمیل را دریافت خواهید کرد.</p>
        <p class="py4">اگر ایمیلی دریافت نکردید لطفا بررسی کنید آدرسی که وارد کرداید همان است که با آن ثبت نام کردید و پوشه اسپم خود را چک کنید</p>
    </div>
</body>
</html>