{% extends 'registration/base.html' %}
{% load crispy_forms_tags %}

{% block title %}{% block title_meta %}
    تغییر گذرواژه با موفقست انجام شد
{% endblock %}{% endblock %}

{% block main %}
<div class="col-md-8 text-center mx-auto">
    <div class="card card-success">
        <div class="card card-header">
            <h3 class="card-title md-0 float-left">تغییر گذرواژه</h3>
        </div>
        <div class="card card-body py-4">
            <form method="post">
                <p class="py-4">گذرواژه با موفقیت تغییر یافت</p>
            </form>

        </div>
    </div>
</div>
{% endblock %}